.projectsBlock {
    /*min-height: 80vh;*/
    padding: 20px;
    background-color: rgba(223, 189, 255, 0.35);
    display: flex;
    align-items: center;
}

.container {

    width: 80%;
    height: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: revert;
}

.title {
    height: 20%;
}


.projects {

    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 5px;
    margin-top: 5px;
}