

.skillsBlock {
    /*min-height: 100vh;*/
    background-color: rgb(189, 255, 189);
    padding: 20px;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #efefef;
    margin-bottom: 10px;

}

.skills {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}