.mainBlock {
    height: 100vh;
    background: rgba(250, 206, 221, 0.73);
}

.text {
    width: 300px;
    background-color: rgba(184, 180, 211, 0.56);
}

.photo {
    width: 300px;
    height: 400px;
    background-color: rgba(184, 180, 211, 0.56);

}

