.footerBlock {
    height: 20vh;
    background-color: rgba(221, 255, 189, 0.35);
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.container {
    margin-bottom: 1%;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.container h3 {
    margin-top: 0;
}

.social {

    display: flex;
    justify-content: space-between;
    width: 50%;
}

.icon {
    width: 30px;
    height: 30px;
    background-color: #b9b7b7;
}





